<%= form_for(@suggestion) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <!--Should leave this field as name and remove the email parameter since this can only be accessed by logged in users-->
  <div class="pagetext">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
  </div>
  <div class="pagetext">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <!--User id should be used instead by email and vname-->
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
