<% provide(:title, "Suggestion: The place that holds all the users suggestions!") %>
<% provide(:description, "A listing of all the suggestions created for the admin to view.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Listing suggestions</h1>
<br>
<div class="pagebox"><%= paginate @suggestions %></div>
<br>
<div class="pagetext">
   <table>
      <tr>
         <th>Vname</th>
         <th>Name</th>
         <th>Description</th>
         <th></th>
      </tr>
      <% @suggestions.each do |suggestion| %>
         <tr>
            <td><%= getType(suggestion.user) %><%= link_to suggestion.user.vname, user_path(suggestion.user.vname) %>&nbsp;&nbsp;</td>
            <td><%= suggestion.name %>&nbsp;&nbsp;</td>
            <td><%= suggestion.description %>&nbsp;&nbsp;</td>
            <td><%= button_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      <% end %>
   </table>
</div>
