<% provide(:title, "A collection of referred users!") %>
<% provide(:description, "Where the user can see the referrals.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">
   <% if getOptional %>
      <%= @user.vname %>'s referrals
   <% else %>
      Listing referrals
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @referrals %></div>
<br>
<div class="pagetext">
   <% @referrals.each do |referral| %>
      <br>
      <% if !getOptional %>
         <p>User: <%= referral.referre.vname %> referred by <%= referral.referrer.vname %></p>
      <% else %>
         <p>User referred: <%= referral.referre.vname %></p>
      <% end %>
      <p>Created: <%= referral.created_on.strftime("%B-%d-%Y") %></p>
   <% end %>
</div>
<br />
<%= link_to 'New Referral', new_referral_path %>
