<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @referral.user_id %>
</p>

<p>
  <b>Referred by:</b>
  <%= @referral.referred_by_id %>
</p>

<p>
  <b>Created on:</b>
  <%= @referral.created_on %>
</p>


<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
