<% provide(:title, "Chapter: Checkout the great selection of chapters available!") %>
<% provide(:description, "A place where the admin can view all of the chapters the users have created for their particular interest.") %>
<h1 class="pageheader">Listing chapters</h1>
<br>
<div class="pagebox"><%= paginate @chapters %></div>
<% @chapters.each do |chapter| %>
   <br>
   <div class="pagetext">
      <div class="inner"><%= link_to chapter.title, sbook_book_path(chapter.book.sbook, chapter.book) %></div>
      <div class="inner"><%= button_to 'Edit', edit_book_chapter_path(chapter.book, chapter), method: :get %></div>
      <div class="inner"><%= button_to 'Destroy', [chapter.book, chapter], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <pre class="storyformat"><%= chapter.story %></pre>
      <p>Created on: <%= chapter.created_on.strftime("%B-%d-%Y") %></p>
      <p>Author: <%= getType(chapter.user) %><%= link_to chapter.user.vname, user_path(chapter.user) %></p>
      <p>Book: <%= link_to chapter.book.title, sbook_book_path(chapter.book.sbook, chapter.book) %></p>
      <p>Gchapter: <%= chapter.gchapter.title %></p>
      <p>Reviewed: <%= chapter.reviewed %></p>
   </div>
<% end %>
