<%= form_for([@pm, @preply]) do |f| %>
  <% if @preply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preply.errors.count, "error") %> prohibited this preply from being saved:</h2>

      <ul>
      <% @preply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
