<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @preply.message %>
</p>

<p>
  <b>Created on:</b>
  <%= @preply.created_on %>
</p>

<p>
  <b>Pm:</b>
  <%= @preply.pm_id %>
</p>

<p>
  <b>User:</b>
  <%= @preply.user_id %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @preply.maintenance %>
</p>


<%= link_to 'Edit', edit_preply_path(@preply) %> |
<%= link_to 'Back', preplies_path %>
