<% provide(:title, "Sitemap: The key to navigating the site!") %>
<% provide(:keywords, "kid, friendly, virtual, pet, site") %>
<% provide(:description, "A map for the users convenience to navigate the website.") %>
<h1 class="pageheader">Sitemap</h1>
<br>
<div class="pagetext">
   <p>Creativity - contains all the items, pets, stories and galleries that the users of this site have created.</p>
   <p><%= link_to "Adopt a pet", pets_path %> - contains all of the various pet species that have been created for this site.</p>
   <p><%= link_to "Shop", items_path %> - where all the weapons and potions that are available for sale are stored.</p>
   <p><%= link_to "Stories", sbooks_path %> - contains all of the wonderful books that the authors have created.</p>
   <p><%= link_to "Gallery", mainfolders_path %> - contains all of the various galleries that the users have created for storing their wonderful artwork.</p>
   <br>
   <p>Community - the place where users meet together to share news of their travels and to hang out with friends.</p>
   <p><%= link_to "Tutorial", tutorial %> - a forum dedicated to teaching new users the ropes of the website's features.</p>
   <p><%= link_to "News", blogs_path %> - contains updates and repairs to this site as well as providing users with the ability to showcase their latests creations.</p>
   <p><%= link_to "Forums", forums_path %> - large gathering halls where users can join together and discuss different fandoms or just hang out in general.</p>
</div>
