<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @reply.message %>
</p>

<p>
  <b>Blog:</b>
  <%= @reply.blog_id %>
</p>

<p>
  <b>User:</b>
  <%= @reply.user_id %>
</p>

<p>
  <b>Created on:</b>
  <%= @reply.created_on %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @reply.maintenance %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
