<%= form_for(@blacklisteddomain) do |f| %>
  <% if @blacklisteddomain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blacklisteddomain.errors.count, "error") %> prohibited this blacklisteddomain from being saved:</h2>

      <ul>
      <% @blacklisteddomain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="pagetext">
    <%= f.label :domain_only %><br />
    <%= f.check_box :domain_only %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
