<h1>Listing blacklisteddomains</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Domain only</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blacklisteddomains.each do |blacklisteddomain| %>
  <tr>
    <td><%= blacklisteddomain.name %></td>
    <td><%= blacklisteddomain.domain_only %></td>
    <td><%= link_to 'Show', blacklisteddomain %></td>
    <td><%= link_to 'Edit', edit_blacklisteddomain_path(blacklisteddomain) %></td>
    <td><%= link_to 'Destroy', blacklisteddomain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blacklisteddomain', new_blacklisteddomain_path %>
