<%= form_for(@accountkey) do |f| %>
  <% if @accountkey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountkey.errors.count, "error") %> prohibited this accountkey from being saved:</h2>

      <ul>
      <% @accountkey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
