<h1>Listing accountkeys</h1>

<table>
  <tr>
    <th>User</th>
    <th>Token</th>
    <th>Activated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accountkeys.each do |accountkey| %>
  <tr>
    <td><%= accountkey.user_id %></td>
    <td><%= accountkey.token %></td>
    <td><%= accountkey.activated %></td>
    <td><%= link_to 'Show', accountkey %></td>
    <td><%= link_to 'Edit', edit_accountkey_path(accountkey) %></td>
    <td><%= link_to 'Destroy', accountkey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accountkey', new_accountkey_path %>
