<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @accountkey.user_id %>
</p>

<p>
  <b>Token:</b>
  <%= @accountkey.token %>
</p>

<p>
  <b>Activated:</b>
  <%= @accountkey.activated %>
</p>


<%= link_to 'Edit', edit_accountkey_path(@accountkey) %> |
<%= link_to 'Back', accountkeys_path %>
