<%= form_for([@subfolder, @artwork], :html=>{:multipart => true}) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="pagetext">
    <%= f.file_field :art %>
  </div>
  <div class="pagetext">
    <%= f.label :remote_image_url, "or image URL" %><br/>
    <%= f.text_field :remote_art_url %>
  </div>
  <div class="pagetext">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <br>
  <p class="pagetext">Images submitted must be free from copyright restrictions, and appropriate for all ages. Inappropriate images will be removed and user privileges may be revoked. Please contact the webmaster if you encounter inappropriate content. Also any art that is uploaded to this site must go through a review process before it can appear in the user's gallery.</p>
  <br>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
