<% provide(:title, "Artwork: Where digital and traditional artwork live!") %>
<% provide(:keywords, "digital-artwork, traditional-artwork") %>
<% provide(:description, "This is the place where users showcase their wonderful art talent.") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader"><%= @artwork.title %></h1>
<br>
<div class="pagetext">
   <p><%= image_tag(@artwork.art_url.to_s, class: "imagebox") %></p>
   <p><%= @artwork.description %></p>
   <p>Created on: <%= @artwork.created_on.strftime("%B-%d-%Y") %></p>
   <p>Artist: <%= getType(@artwork.user) %><%= link_to @artwork.user.vname, user_path(@artwork.user) %></p>
   <br>
   <p><%= link_to 'Back', mainfolder_subfolder_path(@subfolder.mainfolder, @artwork.subfolder) %></p>
</div>
