<% provide(:title, "Fight: Displays all fights a pet has engaged in!") %>
<% provide(:keywords, "battle, pet, monster, fight") %>
<% provide(:description, "Shows your battles against the various monsters and what the outcome is.") %>
<h1 class="pageheader">
   <% if getOptional %>
      <%= @petowner.pet_name%>'s battles
   <% else %>
      Listing fights
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @fights %></div>
<% @fights.each do |fight| %>
   <br>
   <div class="pagetext">
      <div class="inner">battling monster: <%= link_to fight.pet.species_name, petowner_fight_path(fight.petowner, fight) %></div>
      <% if current_user && current_user.admin %>
         <% if !getOptional %>
            <div class="inner"> with pet: <%= link_to fight.petowner.pet_name, user_petowner_path(fight.petowner.user, fight.petowner) %></div>
         <% end %>
         <div class="inner"><%= button_to 'Destroy', [fight.petowner, fight], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
   </div>
<% end %>
