<% provide(:title, "Fight: Where pets and monsters battle!") %>
<% provide(:keywords, "battle, pet, monster, fight") %>
<% provide(:description, "Pets and monsters engage in awesome battles, however victory is up to you.") %>
<% provide(:style, ".petcontainer{display:inline-block;padding-right: 15%;}
.monstercontainer{display:inline-block;padding-left: 15%;}
.battleround{font-size: 18px;text-align: center;font-weight: bold;}") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader">The Battle</h1>
<br>
<% if !battleDone %>
   <p><%#= audio_tag ("battlemusic.mp3"), :controls => true, :hidden => true, :loop => true, :autoplay => true %></p>
   <p><%#= audio_tag ("battlemusic.ogg"), :controls => true, :hidden => true, :loop => true, :autoplay => true %></p>
<% end %>
<p class="battleround">Round: <%= @fight.round %></p>
<br>
<div class="pagetext">
   <div class="petcontainer"><%= render "type", object: "Pet" %></div>
   <div class="monstercontainer"><%= render "type", object: "Monster" %></div>
</div>
<br>
<div class="pagetext">
   <% if battleDone %>
         <p><%= getFight %></p>
      <% if getCoins > 0 %>
         <br>
         <p>Your pet gained <%= getCoins %> coins!</p>
      <% end %>
      <% if getCoins != 0 || getExpGained != 0 %>
         <br>
         <p>Your pet gained <%= getExpGained %> exp!</p>
      <% end %>
      <% if getBoostTokens > 0 %>
         <br>
         <p>Your pet gained <%= getBoostTokens %> boost tokens!</p>
      <% end %>
   <% else %>
      <p><%= getFight %></p>
   <% end %>
</div>
