<%= form_for([@user, @mainsheet]) do |f| %>
  <% if @mainsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mainsheet.errors.count, "error") %> prohibited this mainsheet from being saved:</h2>

      <ul>
      <% @mainsheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="pagetext">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
