<%= form_for(@blacklistedname) do |f| %>
  <% if @blacklistedname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blacklistedname.errors.count, "error") %> prohibited this blacklistedname from being saved:</h2>

      <ul>
      <% @blacklistedname.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
