<% provide(:title, "A collection of many different available galleries!") %>
<% provide(:description, "A place for the admin to see what galleries are available.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Galleries list</h1>
<br>
<div class="pagebox"><%= paginate @mainfolders %></div>
<% @mainfolders.each do |mainfolder| %>
   <br>
   <div class="pagetext">
      <div class="inner"><%= link_to mainfolder.name, user_mainfolder_path(mainfolder.user.vname, mainfolder) %></div>
      <div class="inner"><%= button_to 'Edit', edit_user_mainfolder_path(mainfolder.user, mainfolder), method: :get %></div>
      <div class="inner"><%= button_to 'Destroy', [mainfolder.user, mainfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <p>Created on: <%= mainfolder.created_on.strftime("%B-%d-%Y") %></p>
      <p><%= mainfolder.description %></p>
      <p>Owner: <%= getType(mainfolder.user) %><%= link_to mainfolder.user.vname, user_path(mainfolder.user) %></p>
   </div>
<% end %>
