<% provide(:title, "Gallery: The place where users get to upload their artwork!") %>
<% provide(:keywords, "gallery, digital-artwork, traditional-artwork") %>
<% provide(:description, "A place where users can showcase their talent to the world at large.") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader">
   <div class="inner"><%= @mainfolder.name %></div>
   <% if current_user && (current_user.id == @mainfolder.user_id || current_user.admin) %>
      <div class="inner"><%= button_to 'Edit', edit_user_mainfolder_path(@mainfolder.user, @mainfolder), method: :get %></div>
      <div class="inner"><%= button_to 'Destroy', [@mainfolder.user, @mainfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <% end %>
</h1>
<br>
<p class="pagetext"><%= @mainfolder.description %></p>
<br>
<div class="pagebox"><%= paginate @subfolders %></div>
<% @subfolders.each do |subfolder| %>
   <br>
   <div class="pagetext">
      <div class="inner"><%= link_to subfolder.name, mainfolder_subfolder_path(@mainfolder, subfolder) %></div>
      <% if current_user && (current_user.id == subfolder.user_id || current_user.admin) %>
         <div class="inner"><%= button_to 'Edit', edit_mainfolder_subfolder_path(@mainfolder, subfolder), method: :get %></div>
         <div class="inner"><%= button_to 'Destroy', [@mainfolder, subfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p><%= image_tag getArtwork(subfolder) %></p>
      <p>Created on: <%= subfolder.created_on.strftime("%B-%d-%Y") %></p>
      <p>Owner: <%= getType(subfolder.user) %><%= link_to subfolder.user.vname, user_path(subfolder.user) %></p>
      <p>Collaboration: <%= subfolder.collab_mode %></p>
   </div>
<% end %>
<br>
<% if current_user %>
   <p class="pagetext"><%= link_to "New Subfolder", new_mainfolder_subfolder_path(@mainfolder) %></p>
   <br>
<% end %>
<p class="pagetext"><%= link_to 'Back', user_mainfolders_path(@mainfolder.user) %></p>
