<%= form_for(@usertype) do |f| %>
  <% if @usertype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usertype.errors.count, "error") %> prohibited this usertype from being saved:</h2>

      <ul>
      <% @usertype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="pagetext">
    <%= f.label :privilege %><br />
    <%= f.text_field :privilege %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
