<%= form_for([@subsheet, @sound]) do |f| %>
  <% if @sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound.errors.count, "error") %> prohibited this sound from being saved:</h2>

      <ul>
      <% @sound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br>
  <p class="pagetext">Ogg files</p>
  <div class="pagetext">
    <%= f.file_field :ogg %>
  </div>
  <div class="pagetext">
    <%= f.label :remote_ogg_url, "or Ogg URL" %><br/>
    <%= f.text_field :remote_ogg_url %>
  </div>
  <br>
  <p class="pagetext">Mp3 files</p>
  <div class="pagetext">
    <%= f.file_field :mp3 %>
  </div>
  <div class="pagetext">
    <%= f.label :remote_mp3_url, "or Mp3 URL" %><br/>
    <%= f.text_field :remote_mp3_url %>
  </div>
  <br>
  <p class="pagetext">Wav files</p>
  <div class="pagetext">
    <%= f.file_field :wav %>
  </div>
  <div class="pagetext">
    <%= f.label :remote_wav_url, "or Wav URL" %><br/>
    <%= f.text_field :remote_wav_url %>
  </div>
  <div class="pagetext">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
