<% provide(:title, "Pet: Where the user created pets show up!") %>
<% provide(:keywords, "user, created, pets") %>
<% provide(:description, "Where the user can look into his pet or monster creation and view all the effort they put into it.") %>
<div class="pagetext">
   <div class="inner">
      <p>Species name: <%= @pet.species_name %></p>
   </div>
   <div class="inner">
      <% if current_user %>
         <% if current_user.id == @pet.user_id || current_user.admin %>
            <%= button_to 'Edit', edit_user_pet_path(@pet.user, @pet), method: :get %>
         <% end %>
      <% end %>
   </div>
   <div class="inner">
      <% if current_user %>
         <% if current_user.admin %>
            <%= button_to 'Destroy', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
      <% end %>
   </div>
   <br>
   <div class="inner"><%= image_tag @pet.image_url(:thumb).to_s %></div>
   <div class="inner">
      <table>
         <tr>
            <td>Level: <%= @pet.level %></td>
         </tr>
         <tr>
            <td>HP: <%= @pet.hp %></td>
         </tr>
         <tr>
            <td>ATK: <%= @pet.atk %></td>
         </tr>
         <tr>
            <td>DEF: <%= @pet.def %></td>
         </tr>
         <tr>
            <td>SPD: <%= @pet.spd %></td>
         </tr>
      </table>
   </div>
   <p><%= @pet.description %></p>
   <p>Created on: <%= @pet.created_on.strftime("%B-%d-%Y") %></p>
   <p>Creator: <%= getType(@pet.user) %><%= link_to @pet.user.vname, user_path(@pet.user) %></p>
</div>
<br>
<% if getPetType2(@pet.monster) %>
   <div class="pagetext"><%= link_to 'Back', pets_monsters_path %></div>
<% else %>
   <div class="pagetext"><%= link_to 'Back', pets_path %></div>
<% end %>
