<div class="skip">
   <a class="skip" href="#main">Skip to main content</a>
   <a class="skip" href="#navigationbox">Skip to navigation</a>
   <a class="skip" href="#submenu">Skip to submenu</a>
</div>
<%= image_tag("/banner/duelingpetsbanner.jpeg", class: "banner") if Rails.env.development? %>
<%= image_tag("http://static.duelingpets.net/banner/duelingpetsbanner.jpeg", class: "banner") if Rails.env.production? %>
<div class="profilebar"><%= profile %></div>
<% if current_user %>
   <br>
   <div class="profilebar">Pouch: <%= getPoints %> points</div>
   <br>
<% end %>
<div class="onlinestats">Online: <%= getOnline %> Inactive: <%= getInactive %> Offline: <%= getOffline %></div>
<br>
<div class="navigationC">
<ul id="navigationbox" class="navigation">
   <% unless current_page?(root_path) %>
      <li class="mavspacing"><%= link_to "Home", root_path %></li><!---try to figure out if statement--->
   <% end %>
   <li id="submenu" class="mavspacing">Creativity*
      <ul class="drop-nav">
         <li><%= link_to "Adopt a Pet", pets_path %></li>
         <li><%= link_to "Shop", items_path %></li>
         <% if current_user %>
            <li><%= link_to "Fight Monsters", pets_monsters_path %></li>
         <% end %>
         <li><%= link_to "Stories", sbooks_path %></li>
         <li><%= link_to "Gallery", mainfolders_path %></li>
         <li><%= link_to "Radios", mainsheets_path %></li>
      </ul>
   </li>
   <li class="mavspacing">Community*
      <ul class="drop-nav">
         <li><%= link_to "News", blogs_path %></li>
         <li><%= link_to "Tutorial", tutorial %></li>
         <li><%= link_to "Forum", forums_path %></li>
         <% if current_user %>
            <li><%= link_to "Suggestions", new_suggestion_path %></li><!--Come back to this later-->
            <li><%= link_to "Active Users", active_path %></li>
         <% end %>
      </ul>
   </li>
   <% if !current_user %>
      <li class="mavspacing"><%= link_to "Forgot Password", recover_path %></li>
   <% else %>
      <li class="mavspacing"><%= link_to "My Inventory", user_inventories_path(current_user.vname) %></li>
      <% if referralCheck == 0 %>
         <li class="mavspacing"><%= link_to 'New Referral', new_referral_path %></li>
      <% end %>
   <% end %>
</ul>
</div>
<%= timeleft %>
