<%= form_for @item, :html => {:multipart => true} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="pagetext">
    <%= f.file_field :ipicture %>
  </div>
  <div class="pagetext">
    <%= f.label :remote_ipicture_url, "or Image_URL" %>
    <%= f.text_field :remote_ipicture_url %>
  </div>
  <div class="pagetext">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="pagetext">
    <%= f.label :manyuses %>?<br />
    <%= f.check_box :manyuses %>
  </div>
  <div class="pagetext">
    <%= f.label :hp %><br />
    <%= f.text_field :hp %>
  </div>
  <div class="pagetext">
    <%= f.label :atk %><br />
    <%= f.text_field :atk %>
  </div>
  <div class="pagetext">
    <%= f.label :def %><br />
    <%= f.text_field :def %>
  </div>
  <div class="pagetext">
    <%= f.label :spd %><br />
    <%= f.text_field :spd %>
  </div>
  <div class="pagetext">
    <%= f.submit %>
  </div>
  <br>
<% end %>
