<% provide(:title, "Item list: Available items!") %>
<% provide(:description, "All the available items created by the users.") %>
<% provide(:style, ".pagebox{text-align:center;}.container{display:inline-block;padding-right:2%;}") %>
<h1 class="pageheader">Item list</h1>
<br>
<div class="pagebox"><%= paginate @items %></div>
<br>
<div class="pagetext">
   <% @items.each_with_index do |item, index| %>
      <div class="container">
         <div class="inner">
            <div class="inner"><%= link_to item.name, item_path(item) %></div>
            <div class="inner"><%= button_to 'Edit', edit_item_path(item), method: :get %></div>
            <div class="inner"><%= button_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <p><%= image_tag item.ipicture_url(:thumb).to_s %></p>
         </div>
         <div class="inner">
            <table>
               <tr>
                  <td>HP: <%= getItemValue(item.hp) %></td>
               </tr>
               <tr>
                  <td>ATK: <%= getItemValue(item.atk) %></td>
               </tr>
               <tr>
                  <td>DEF: <%= getItemValue(item.def) %></td>
               </tr>
               <tr>
                  <td>SPD: <%= getItemValue(item.spd) %></td>
               </tr>
               <tr>
                  <td>Cost: <%= item.cost %></td>
               </tr>
            </table>
         </div>
         <p>Created_on: <%= item.created_on.strftime("%B-%d-%Y") %></p>
         <p>Creator: <%= getType(item.user) %><%= link_to item.user.vname, user_path(item.user) %></p>
      </div>
      <% if ((index + 1)%3) == 0 %>         
         <br>
         <br>
      <% end %>
   <% end %>
</div>
