<% provide(:title, "Subfolder: The place that holds all the users subfolders!") %>
<% provide(:description, "A listing of all the subfolders created for the admin to view.") %>
<h1 class="pageheader">Listing Subfolders</h1>
<br>
<div class="pagebox"><%= paginate @subfolders %></div>
<% @subfolders.each do |subfolder| %>
   <br>
   <div class="pagetext">
      <p>I belong to <%= link_to subfolder.mainfolder.name, user_mainfolder_path(subfolder.mainfolder.user, subfolder.mainfolder) %></p>
      <div class="inner">Subfolder: <%= link_to subfolder.name, mainfolder_subfolder_path(subfolder.mainfolder, subfolder) %></div>
      <% if current_user && (current_user.id == subfolder.user_id || current_user.admin? )%>
         <div class="inner"><%= button_to 'Edit', edit_mainfolder_subfolder_path(subfolder.mainfolder, subfolder), method: :get %></div>
         <div class="inner"><%= button_to 'Destroy', [subfolder.mainfolder, subfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p>Created on: <%= subfolder.created_on.strftime("%B-%d-%Y") %></p>
      <p><%= subfolder.description %></p>
      <p>By: <%= getType(subfolder.user) %><%= link_to subfolder.user.vname, user_path(subfolder.user) %></p>
      <p>Collaboration: <%= subfolder.collab_mode %></p>
   </div>
<% end %>
