<% provide(:title, "Subfolder: The place where users art gets uploaded to!") %>
<% provide(:keywords, "user, artwork, uploaded") %>
<% provide(:description, "Allows the categorization of various pieces of artwork that the user submitted successfully.") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader"><%= @subfolder.name %></h1>
<br>
<p class="pagetext"><%= @subfolder.description %></p>
<br>
<div class="pagebox"><%= paginate @artworks %></div>
<!--Container--->
<!--Title of Artwork First-->
<!--Author on the bottom-->
<!--End of Container-->
<!--Should eventually change order for processing of art images--->
<br>
<div class="pagetext">
   <% @artworks.each_with_index do |artwork, index| %>
      <div class="container">
         <div class="inner">
            <div class="inner"><%= link_to artwork.title, subfolder_artwork_path(@subfolder, artwork) %></div>
            <% if current_user && (current_user.id == artwork.user_id || current_user.admin? )%>
               <div class="inner"><%= button_to 'Edit', edit_subfolder_artwork_path(@subfolder, artwork), method: :get %></div>
               <div class="inner"><%= button_to 'Destroy', [@subfolder, artwork], method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>
            <p><%= image_tag artwork.art_url(:thumb).to_s %></p>
         </div>
         <br>
         <p>Created on: <%= artwork.created_on.strftime("%B-%d-%Y") %></p>
         <p>Artist: <%= getType(artwork.user) %><%= link_to artwork.user.vname, user_path(artwork.user) %></p>
      </div>
      <% if ((index + 1) % 3) == 0 %>
         <br>
         <br>
      <% end %>
   <% end %>
</div>
<br>
<% if current_user %>
   <p class="pagetext"><%= link_to "New Artwork", new_subfolder_artwork_path(@subfolder) %></p>
   <br>
<% end %>
<p class="pagetext"><%= link_to 'Back', user_mainfolder_path(@mainfolder.user.vname, @subfolder.mainfolder.name) %></p>
