<%= form_for([@user, @petowner]) do |f| %>
  <% if @petowner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petowner.errors.count, "error") %> prohibited this petowner from being saved:</h2>

      <ul>
      <% @petowner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="pagetext">
    <%= f.hidden_field :pet_id %>
  </div>
  <div class="pagetext">
    <%= f.label :pet_name, "Please Enter Your Pet Name Here" %><br />
    <%= f.text_field :pet_name %>
  </div>
  <div class="pagetext">
    <%= f.submit "Finish Adopting My Pet!" %>
  </div>
  <br>
<% end %>
