<div class="pagetext">
   <% @petowners.each_with_index do |petowner, index| %>
      <div class="container"><!--This should be a container which seperates things-->
         <div class="inner">
            <p><%= link_to petowner.pet_name, user_petowner_path(petowner.user, petowner) %></p>
            <p><%= image_tag petowner.pet.image_url(:thumb).to_s %></p>
         </div>
         <div class="inner">
            <table>
               <tr>
                  <td>Exp: <%= petowner.exp %></td>
               </tr>
               <tr>
                  <td>Level: <%= petowner.level %></td>
               </tr>
               <tr>
                  <td>HP: <%= petowner.hp %>/<%= petowner.hp_max %></td>
                  <% if petowner.boost_tokens > 0 && petowner.in_battle != true %>
                     <% if current_user && petowner.user_id == current_user.id %>
                        <td><%= button_to 'Increase Health', petowners_increase1_path(:petowner_id=>petowner.id), method: :post %></td>
                     <% end %>
                  <% end %>
               </tr>
               <tr>
                  <td>ATK: <%= petowner.atk %></td>
                  <% if petowner.boost_tokens > 0 && petowner.in_battle != true %>
                     <% if petowner.def != petowner.spd || (petowner.atk + 1) != petowner.spd %>
                        <% if current_user && petowner.user_id == current_user.id %>
                           <td><%= button_to 'Increase Attack', petowners_increase2_path(:petowner_id=>petowner.id), method: :post %></td>
                        <% end %>
                     <% end %>
                  <% end %>
               </tr>
               <tr>
                  <td>DEF: <%= petowner.def %></td>
                  <% if petowner.boost_tokens > 0 && petowner.in_battle != true %>
                     <% if petowner.spd != petowner.atk || (petowner.def + 1) != petowner.atk %>
                        <% if current_user && petowner.user_id == current_user.id %>
                           <td><%= button_to 'Increase Defense', petowners_increase3_path(:petowner_id=>petowner.id), method: :post %></td>
                        <% end %>
                     <% end %>
                  <% end %>
               </tr>
               <tr>
                  <td>SPD: <%= petowner.spd %></td>
                  <% if petowner.boost_tokens > 0 && petowner.in_battle != true %>
                     <% if petowner.atk != petowner.def || (petowner.spd + 1) != petowner.def %>
                        <% if current_user && petowner.user_id == current_user.id %>
                           <td><%= button_to 'Increase Speed', petowners_increase4_path(:petowner_id=>petowner.id), method: :post %></td>
                        <% end %>
                     <% end %>
                  <% end %>
               </tr>
               <tr>
                  <!--Displays the user who created this pet -->
                  <td>Species: <%= petowner.pet.species_name %></td>
               </tr>
            </table>
         </div>
         <br>
         <!--Displays the date the pet was created -->
         <p>Boost tokens: <%= petowner.boost_tokens %></p>
         <p>Adopted_on: <%= petowner.adopted_on.strftime("%B-%d-%Y") %></p>
      </div>
      <!--Sets how many pets to display per line-->
      <% if ((index + 1)%3) == 0 %>
         <br>
         <br>
      <% end %>
   <% end %>
</div>
