<% provide(:title, "Maintopic: The place that holds all the users maintopics!") %>
<% provide(:description, "A listing of all the maintopics created for the admin to view.") %>
<h1 class="pageheader">Listing Maintopics</h1>
<br>
<div class="pagebox"><%= paginate @maintopics %></div>
<% @maintopics.each do |maintopic| %>
   <br>
   <div class="pagetext">
      <p>I belong to <%= maintopic.tcontainer.name %> tcontainer</p>
      <div class="inner">Topic: <%= link_to maintopic.topicname, tcontainer_maintopic_path(maintopic.tcontainer_id, maintopic.id) %></div>
      <% if current_user && (current_user.id == maintopic.user_id || current_user.admin? )%>
         <div class="inner"><%= button_to 'Edit', edit_tcontainer_maintopic_path(maintopic.tcontainer, maintopic), method: :get %></div>
         <div class="inner"><%= button_to 'Destroy', [maintopic.tcontainer, maintopic], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p>by: <%= getType(maintopic.user) %><%= link_to maintopic.user.vname, user_path(maintopic.user) %></p>
      <pre class="storyformat"><%= maintopic.description %></pre>
      <p>Status: <%= getStatus(forum.user) %>
         <% if getStatus(forum.user) != "Online" %>
            <% if getTime(forum.user) %>
               for <%= distance_of_time_in_words_to_now getTime(forum.user) %>
            <% end %>
         <% end %>
      </p>
   </div>
<% end %>
