<% provide(:title, "Maintopic: The place where users get to build their social community!") %>
<% provide(:keywords, "users, social, community") %>
<% provide(:description, "A place where users can first start to generate topics for their particular forum.") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader"><%= @maintopic.topicname %></h1>
<br>
<div class="pagebox"><%= paginate @subtopics %></div>
<br>
<% @subtopics.each do |subtopic| %>
   <div class="pagetext">
      <div class="inner"><%= link_to subtopic.topicname, maintopic_subtopic_path(@maintopic, subtopic) %></div>
      <% if current_user && (current_user.id == subtopic.user_id || current_user.admin? )%>
         <div class="inner"><%= button_to 'Edit', edit_maintopic_subtopic_path(@maintopic, subtopic), method: :get %></div>
         <div class="inner"><%= button_to 'Destroy', [@maintopic, subtopic], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p>by: <%= getType(subtopic.user) %><%= link_to subtopic.user.vname, user_path(subtopic.user) %></p>
      <p>Status: <%= getStatus(subtopic.user) %>
         <% if getStatus(subtopic.user) != "Online" %>
            <% if getTime(subtopic.user, getStatus(subtopic.user)) %>
               for <%= distance_of_time_in_words_to_now getTime(subtopic.user, getStatus(subtopic.user)) %>
            <% end %>
         <% end %>
      </p>
   </div>
   <br>
<% end %>
<% if current_user %>
   <p class="pagetext"><%= link_to "New Subtopic", new_maintopic_subtopic_path(@maintopic) %></p>
   <br>
<% end %>
<p class="pagetext"><%= link_to 'Back', forum_tcontainer_path(@tcontainer.forum_id, @maintopic.tcontainer_id) %></p>
