<% provide(:title, "Series: Where the user may witness their wonderful fanfiction stories!") %>
<% provide(:keywords, "user, fanfiction, stories") %>
<% provide(:description, "A place where users can showcase their stories to the rest of the world.") %>
<p id="notice"><%= notice %></p>
<h1 class="pageheader">
   <div class="inner"><%= @sbook.name %></div>
   <% if current_user && (current_user.id == @sbook.user_id || current_user.admin) %>
      <div class="inner"><%= button_to 'Edit', edit_user_sbook_path(@sbook.user, @sbook), method: :get %></div>
      <div class="inner"><%= button_to 'Destroy', [@sbook.user, @sbook], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <% end %>
</h1>
<!--Right here is where books will be-->
<br>
<div class="pagebox"><%= paginate @books %></div>
<% @books.each do |book| %>
   <br>
   <div class="pagetext">
      <div class="inner"><%= link_to book.title, sbook_book_path(@sbook, book) %></div>
      <% if current_user && (current_user.id == book.user_id || current_user.admin) %>
         <div class="inner"><%= button_to 'Edit', edit_sbook_book_path(@sbook, book), method: :get %></div>
         <div class="inner"><%= button_to 'Destroy', [@sbook, book], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p><%= book.description %></p>
      <p>Created on: <%= book.created_on %></p>
      <p>Author: <%= getType(book.user) %><%= link_to book.user.vname, user_path(book.user) %></p>
   </div>
<% end %>
<% if current_user %>
   <br>
   <p class="pagetext"><%= link_to 'New Book', new_sbook_book_path(@sbook) %></p>
<% end %>
<br>
<p class="pagetext"><%= link_to 'Back', user_sbooks_path(@sbook.user.vname) %></p>
